.hyper-link a{
    color: white;
    text-decoration: none;
}

main{
    display: flex;
    /* background-color: lightcoral; */
    padding: 10px;
    height: calc(100% - 80px);
}

aside{
    width: fit-content;
    background-color: white;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 0.411);
    min-height: calc(100% - 40px);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

aside a{
    color: grey;
    text-decoration: none;
}

aside article{
    /* background-color: lightblue; */
    border-radius: 10px;
    width: 140px;
    padding: 10px 20px;
    margin: 15px 0;
}

.main-div{
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 8px 0px rgba(128, 128, 128, 0.411);
    width: 100%;
    min-height: 100%;
    height: fit-content;
    /* background-color: lightblue; */
}

.main-container{
    padding: 10px;
}

.page-header{
    font-size: 1.6em;
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    /* font-weight: bold; */
}

.add-category-container{
    margin-top: 30px;
    min-width: 400px;
    width: 50%;
}