{% extends "dashboard/admin-dashboard.html" %}

{% block admin %}
<title>Add category | {{ username }}</title>
<link href="/static/css/category/category.css" rel="stylesheet">

<script> document.getElementById("nav-category").classList.add("selected-nav") ; </script>


<div class="main-container">
  <div class="category-left">
    <header class="page-header">Category</header>

    <section class="add-category-container">
      <article class="form-child-cont input-area">
        <span>Category name</span>
        <input type="text" id="category-name">
      </article>
  
      <article class="form-child-cont">
        <button class="primary-button" onclick="saveCategory()">Save</button>
      </article>
    </section>
  
    <div class="sub_header">All categories</div>
    {% if  categories %}
      <div class="all-category-container">
        {% for cat in  categories%}
          <article >
            {{ cat.category_name }}
            <span class="material-symbols-outlined edit-icon" onclick="openEditCategory({{ cat.id }}, '{{ cat.category_name }}')">edit</span>
          </article>
        {% endfor %}
      </div>
    {% else %}
    <article class='nothing-found'>No category found</article>
    {% endif %}
  </div>  
  <div class="category-right">
    <header class="sub-header">
      <span>Edit category</span>
      <span class="material-symbols-outlined close-icon" onclick="closeEditCategory()">close</span>
    </header>

      <article class="form-child-cont input-area" style="margin-top:20px">
        <span>Category name</span>
        <input type="text" id="editname">
      </article>
      <article class="form-child-cont">
        <button class="secondary-button" onclick="editCategory()">Save changes</button>
      </article>
      
  </div>
</div>
<script src="/static/js/add-category.js"></script>
{% endblock admin %}