{% extends "dashboard/admin-dashboard.html" %}

{% block admin %}
<title>{{ cat_name }} Questions</title>
<link href="/static/css/questions/all-questions.css" rel="stylesheet">

<div class="question-main-div">
    <header class="page-header">Questions</header>

    <div class="all-questions">
        
            <section class="question-list-cont">
                <div class="questions-left">
                    <article class="question-user">Added by : <a href="">You</a></article>
                    <article class="question-name">
                        <input type="text" value="Name of question" readonly>
                    </article>
                    <article class="question-desc">
                        <textarea readonly>Body of question</textarea>
                    </article>
                    <section class="question-option-cont">
                        <article class="question-option">
                            <label>Option A</label>
                            <input type="text" value="Value 1" readonly>
                        </article>
                        <article class="question-option">
                            <label>Option B</label>
                            <input type="text" value="Value 1" readonly>
                        </article>
                    </section>
                    <section class="question-option-cont">
                        <article class="question-option">
                            <label>Option C</label>
                            <input type="text" value="Value 1" class="correct-answer" readonly>
                        </article>
                        <article class="question-option">
                            <label>Option D</label>
                            <input type="text" value="Value 1" readonly>
                        </article>
                    </section>
                </div>
                <div class="questions-right">
                    <button class="button-edit">Edit</button>
                    <button class="button-delete">Delete</button>
                    <button class="button-approve">Approve</button>
                    <button class="button-save">Save</button>
                </div>
            </section>
        
            <section class="question-list-cont">
                <div class="questions-left">
                    <article class="question-user">Added by : <a href="">You</a></article>
                    <article class="question-name">
                        <input type="text" value="Name of question" readonly>
                    </article>
                    <article class="question-desc">
                        <textarea readonly>Body of question</textarea>
                    </article>
                    <section class="question-option-cont">
                        <article class="question-option">
                            <label>Option A</label>
                            <input type="text" value="Value 1" readonly>
                        </article>
                        <article class="question-option">
                            <label>Option B</label>
                            <input type="text" value="Value 1" readonly>
                        </article>
                    </section>
                    <section class="question-option-cont">
                        <article class="question-option">
                            <label>Option C</label>
                            <input type="text" value="Value 1" class="correct-answer" readonly>
                        </article>
                        <article class="question-option">
                            <label>Option D</label>
                            <input type="text" value="Value 1" readonly>
                        </article>
                    </section>
                </div>
                <div class="questions-right">
                    <button class="button-edit">Edit</button>
                    <button class="button-delete">Delete</button>
                    <button class="button-approve">Approve</button>
                    <button class="button-save">Save</button>
                </div>
            </section>

    </div>

</div>

{% endblock admin %}