<!DOCTYPE>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/dashboard/dashboard.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <script src="/static/js/jquery.js"></script>
    </head>
    <body>
        <header class="app-header">
            <h3>Quiz app</h3>
            <section class="hyper-link">
                <a href="/auth/logout">Logout</a>
            </section>
        </header>

        <main>
            <aside>
                <a href="/"> <article id="nav-bashboard">Dashboard</article> </a>
                <a href="/question"> <article id="nav-question">Add questions</article> </a>
                {% if user_type == 'admin' %}
                <a href="/category"> <article id="nav-category">Add category</article> </a>
                <!-- <a href=""> <article class="nav- navbar">View users</article> </a>
                <a href=""> <article id="nav-result navbar">View results</article> </a> -->
                {% else %}
                <a href="/quiz"> <article id="nav-quiz">Start quiz</article> </a>
                {% endif %}

            </aside>
            <div class="main-div">
                {% block admin %}
                <title>Dashboard | Welcome {{ username }}</title>
                <script> document.getElementById("nav-bashboard").classList.add("selected-nav") ; </script>

                  <div class="main-container">
                    <header class="page-header">Dashboard</header>

                    {% if all_result %}
                    
                    <table border="0" cellpadding="10", cellspacing="0" class="result-table">
                        <tr>
                            <th>No</th>
                            {% if user_type == 'admin' %}
                            <th>User</th>
                            {% endif %}
                            <th>Category</th>
                            <th>Date</th>
                            <th>Status</th>
                            <th>Mark obtain</th>
                            <th>Mark requir</th>
                            <th>Action</th>
                        </tr>
                        {% for res in all_result %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            {% if user_type == 'admin' %}
                            <td>{{ res.user__username }}</td>
                            {% endif %}
                            <td>{{ res.category__category_name }}</td>
                            <td>{{ res.date }}</td>
                            <td>{{ res.status }}</td>
                            <td>{{ res.max_mark }}</td>
                            <td>{{ res.total_mark }}</td>
                            <td>view</td>
                        </tr>
                        {% endfor %}
                    </table>

                    
                    <div class="result-cont">
                      
                    </div>
                
                    {% endif %}
                    
                  </div>
                {% endblock admin %}
            </div>
        </main>


    </body>
</html>