<!DOCTYPE>
<html>
    <head>
        <title>Dashboard | {{ username }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/css/base.css">
        <link rel="stylesheet" href="/static/css/access/access.css">
    </head>
    <body>
        <header class="app-header">
            <h3>Quiz app</h3>
            <section class="reg-link">
                <a href="/auth/register">Start a quiz</a>
            </section>
        </header>

        


    </body>
</html>